.container{
	width: 700px;
	margin: 0 auto;
}
#logo{
	margin-bottom: 10px;
}
.line{
	width: 100%;
	height: 1px;
	background-color: black;
}
p{
	text-align: center;
	display: inline-block;
	margin: 10px 30px;
}
.menu{
	margin-left: 13%;
}
.linea{
	width: 1px;
	height: 20px;
	background-color: black;
	position: absolute;
}
.vertical{
	margin-left: 100px;
}
.verticalDos{
	margin-left: 260px;
}
.verticalTres{
	margin-left: 420px;
}
img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.little{
	width: 100px;
	background-color: grey;
	height: 2px;
}
.text{
	padding: 10px;
	font-size: 20px
}
.sec{
	margin-left: 00px;
	background-color: black;
}
/*css copiado y modificado de coders archivo*/
