.container{
	width: 700px;
	margin: 0 auto;
}
.logo{
	margin-bottom: 25px;
}
li{
	list-style-type: none;
	display: inline-block;
	margin: 10px 20px 10px 20px;
	font-size: 20px;
}
.menu{
	margin-left: 6%;
	position: relative;
}
.horizontal{
	width: 100%;
	background-color: black;
	height: 1px;
}
.vertical{
	width: 1px;
	height: 25px;
	background-color: black;
	position: absolute;
	top: 0px;
}
.uno{
	margin-left: 80px;
}
.dos{
	margin-left: 250px;
}
.tres{
	margin-left: 430px;
}
.grupo{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.small{
	width: 65px;
	height: 1px;
	background-color: grey;
}
.text{
	font-size: 20px;
	margin: 20px 160px;
	text-align: center;
}
.coder{
	width: 50px;
	height: 3px;
	background-color: black;
	position: absolute;
}
/*Espacio de Coders*/
.trescoders{
	margin-top: 0px;
	padding-left: 15px;
}
.top{
	margin-top: 40px;
}
.name{
	position: relative;
	top: 200px;
	left: 90px;
	color: white;
}
.inline{
	display: inline-block;
}
.centrar{
	margin-left: 10px;
}
.filtro{
	-webkit-filter:brightness(0.6);
	filter:brightness(1);
    -webkit-transition : -webkit-filter 1s ease-out;
	transition : -webkit-filter 1s ease-out;
}
.filtro:hover{
	-webkit-filter:brightness(1);
	filter:brightness(1);
}